body,
#top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

#gameboard-container {
    display: grid;
    width: min-content;
    height: min-content;
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.button-div {
    background: #ff4141;
    padding: 0 5px;
}

.tile {
    width: 100px;
    height: 100px;
    background: #d6d6d6;
}
